body {
  color: #434455;
  font-family: Raleway, Roboto, sans-serif;
  background-color: #ffffff;
}

.logo_style {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo_style > span {
  color: #2e2f42;
}

.studio_style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio_style:hover,
.studio_style:focus {
  color: #404bbf;
}
.address_style {
  font-style: normal;
}

.kontakt_style {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.kontakt_style:hover,
.kontakt_style:focus {
  color: #404bbf;
}

.firstsec_style {
  background-color: #2e2f42;
}

.firsthead {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.blue-button {
  background-color: #4d5ae5;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
}
.blue-button:focus,
.blue-button:hover {
  background-color: #404bbf;
}

.thirdhead {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sectiontwo_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.thirdsec {
  background-color: #f4f4fd;
}

.secondhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.listpointthird {
  background-color: #ffffff;
}

.workersdesc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text_third_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.fourthhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio_head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.stopka {
  background-color: #2e2f42;
}

.stopka_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.stopka_span {
  color: #f4f4fd;
}

.stopka_text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
